.venv/
__pycache__/
*.py[cod]
*.egg-info/
*.egg
*.log
*.cover
.mypy_cache/
.pytest_cache/
coverage.xml
htmlcov/
dist/
build/
tmp/
.env
.env.*
.idea/
.vscode/
.DS_Store
COMPLIANCE_GUARDIAN_LOG.*
*.db
    
adk.env
adk project/.env

adk project/
__pypackages__/
.ipynb_checkpoints/
*.sqlite3
*.sqlite    
*.bak
*.swp